# IntelliJ IDEA
.idea/
*.iml
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs
*.log

# Reports (only keep the ones you manually copy to /reports/)
surefire-reports/
test-output/

# OS files
.DS_Store
Thumbs.db

# Other
*.class
